<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.quanjing.platform.dao.TestDao">

	
    <resultMap id="Test" type="com.quanjing.model.platform.Test">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="pnt" column="pnt"/>
        <result property="line" column="line"/>
        <result property="pgn" column="pgn"/>
    </resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        	id ,
        	name ,
        	pnt ,
        	line ,
        	pgn 
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert"  useGeneratedKeys="true" keyProperty="id" 
	>
    <![CDATA[
        INSERT INTO test (
        	id ,
        	name ,
        	pnt ,
        	line ,
        	pgn 
        ) VALUES (
        	#{id} ,
        	#{name} ,
        	#{pnt} ,
        	#{line} ,
        	#{pgn} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update">
        UPDATE test
        <trim prefix="SET" suffixOverrides=",">  
	        <if test="@Ognl@isNotEmpty(name)">
	        name = #{name,jdbcType=VARCHAR} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(pnt)">
	        pnt = #{pnt,jdbcType=OTHER} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(line)">
	        line = #{line,jdbcType=OTHER} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(pgn)">
	        pgn = #{pgn,jdbcType=OTHER} 
	        </if>
 	     </trim>
        WHERE 
	        id = #{id} 
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM test 
        WHERE
	        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="Test">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM test 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	
		
    <select id="findCount" resultType="long">
        SELECT count(*) FROM test 
		<include refid="findWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="Test">
    	SELECT <include refid="columns" />
	    FROM test 
		<include refid="findWhere"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	<sql id="findWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND id = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(name)">
				AND name = #{name}
			</if>
	       <if test="@Ognl@isNotEmpty(pnt)">
				AND pnt = #{pnt}
			</if>
	       <if test="@Ognl@isNotEmpty(line)">
				AND line = #{line}
			</if>
	       <if test="@Ognl@isNotEmpty(pgn)">
				AND pgn = #{pgn}
			</if>
		</where>
	</sql>
	
</mapper>

