<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.quanjing.platform.dao.TquickMatchDao">

	
    <resultMap id="TquickMatch" type="com.quanjing.model.platform.TquickMatch">
        <result property="id" column="id"/>
        <result property="team1Id" column="team1_id"/>
        <result property="team2Id" column="team2_id"/>
        <result property="createTime" column="create_time"/>
        <result property="creator" column="creator"/>
        <result property="status" column="status"/>
    </resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        	id ,
        	team1_id ,
        	team2_id ,
        	create_time ,
        	creator ,
        	status 
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert"  useGeneratedKeys="true" keyProperty="id" 
	>
    <![CDATA[
        INSERT INTO t_quick_match (
        	id ,
        	team1_id ,
        	team2_id ,
        	create_time ,
        	creator ,
        	status 
        ) VALUES (
        	#{id} ,
        	#{team1Id} ,
        	#{team2Id} ,
        	#{createTime} ,
        	#{creator} ,
        	#{status} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update">
        UPDATE t_quick_match
        <trim prefix="SET" suffixOverrides=",">  
	        <if test="@Ognl@isNotEmpty(team1Id)">
	        team1_id = #{team1Id,jdbcType=BIGINT} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(team2Id)">
	        team2_id = #{team2Id,jdbcType=BIGINT} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(createTime)">
	        create_time = #{createTime,jdbcType=TIMESTAMP} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(creator)">
	        creator = #{creator,jdbcType=BIGINT} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(status)">
	        status = #{status,jdbcType=INTEGER} 
	        </if>
 	     </trim>
        WHERE 
	        id = #{id} 
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM t_quick_match 
        WHERE
	        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="TquickMatch">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM t_quick_match 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	
		
    <select id="findCount" resultType="long">
        SELECT count(*) FROM t_quick_match 
		<include refid="findWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="TquickMatch">
    	SELECT <include refid="columns" />
	    FROM t_quick_match 
		<include refid="findWhere"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	<sql id="findWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND id = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(team1Id)">
				AND team1_id = #{team1Id}
			</if>
	       <if test="@Ognl@isNotEmpty(team2Id)">
				AND team2_id = #{team2Id}
			</if>
	       <if test="@Ognl@isNotEmpty(createTimeBegin)">
				AND create_time >= #{createTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(createTimeEnd)">
				AND create_time &lt;= #{createTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(creator)">
				AND creator = #{creator}
			</if>
	       <if test="@Ognl@isNotEmpty(status)">
				AND status = #{status}
			</if>
		</where>
	</sql>
	
</mapper>

